.btn-default {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(31, 41, 55);
    border-radius: 6px;
    border: none;
}

.btn-default:hover {
    background-color: rgb(55, 65, 81);
    cursor: pointer;
}

.btn-disabled {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(156, 163, 175);
    border-radius: 6px;
    cursor: not-allowed;
}