.label-container {
    display: flex;
    justify-content: space-between;
}

.label-active {
    padding-bottom: 6px;
}

.label {
    display: block;
    font-size: 14px;
    font-weight: 500;
}

.label-error {
    color: #EF4444;
}

.select {
    width: 100%;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 2rem;
    padding-left: 1rem;
    background-image: url('./assets/icons/arrows-up-down.svg');
    background-size: 32px 32px;
    background-position: right 0 center;
    background-repeat: no-repeat;
    border: 1px solid #D1D5DB;
}

.select:focus, .select:hover {
    outline: none;
    border-color: black;
    box-shadow: 0 0 0 1px black;
}

.select-error {
    border-color: #EF4444;
}

.select-error:focus, .select-error:hover {
    border-color: #EF4444;
    box-shadow: 0 0 0 1px #EF4444;
}