.root {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.root::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
    position: relative;
    width: 100%;
    max-width: 28rem;
    margin: auto;
    border-radius: 0.5rem;
    padding: 1rem;
    z-index: 50;
    border: none;
}

.button-close-container {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

.close-icon-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-icon {
    height: 0.5rem;
    width: 0.5rem;
    top: 0.5rem;
    right: 0.5rem;
    filter: invert(1);
}